@model PiattoViewModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Nome</h5>
        <p class="card-text">77
            
        </p>
    </div>
</div>